<h1>Welcome to my Facebook</h1>
<p><%= link_to 'Create your profile', new_profile_path, class: 'btn btn-outline-primary btn-lg' %></p>

<h3>New member: <%= @latest_profile.name %></h3>

<hr>

<div class="row">
  <div class="col-md-4">
    <div class="card card-body">
      <%= render 'status_updates/form' %>
    </div>
    <% @status_updates.each do |status| %>
      <div class="card card-body">
        <h4><%= status.title %></h4>
        <p><%= status.content %></p>
        <p><%= status.user.profile.name %> posted <%= time_ago_in_words(status.created_at) %> ago</p>
      </div>
    <% end %>
  </div>
</div>
